---
layout: default
lang: cn
permalink: /test.html
---

{%- for post in site.posts -%}

{%- capture py -%}{{ post.date | date: "%Y"}}{%- endcapture -%}
{%- capture pm -%}{{ post.date | date: "%m"}}{%- endcapture -%}
{% if forloop.first %}<ul class="list-group"> {% endif %}
{% if forloop.last %}</ul> {% endif %}
{% if py != year %}
  {% assign year = py %}
  {% assign numy = 0 %}
  {% if forloop.first %}
  {% elsif forloop.last %}
  {% else %}
    </ul>
    <ul class="list-group">
  {% endif %}
  <li class="list-group-item active">{{ py }}</li>
{% else %}
  {% assign numy | plus: 1 %}
  {{ numy }}
{% endif %}
{% if pm != month %}
  {% assign month = pm %}
  <li class="list-group-item">{{ pm }}</li>
{% endif %}

{%- endfor -%}
