<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
  const myTheme = {
  render(state, instance) {
    const container = document.createElement('div')
    container.lang = "en-US"
    container.className = 'gitment-container gitment-root-container'
    container.appendChild(instance.renderHeader(state, instance))
    container.appendChild(instance.renderEditor(state, instance))
    container.appendChild(instance.renderComments(state, instance))
    container.appendChild(instance.renderFooter(state, instance))
    return container
  },
}
var gitment = new Gitment({
    owner: '{{ site.github_username }}',
    repo: '{{ site.repo }}',
    oauth: {
        client_id: '225b00e785165612c955',
        client_secret: '5d04e43b23c79d9e04de057a09c82f0449074050',
    },
	theme: myTheme,
});
gitment.render('container');
</script>
