{% assign translation = site.data[page.lang] %}
{% capture builder %}<a href="//joytou.net.cn/">Joytou</a>{% endcapture %}
{% capture style %}<a href="http://getbootstrap.com">Bootstrap</a>{% endcapture %}
<div class="blog-footer">
      <p>Copyright &copy; 2017 - 2018 <a href="//joytou.net.cn/">Joytou</a></p>
      <p>Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a></p>
      <p>{{ translation.footcopyright | replace: 'builder', builder | replace: 'style', style }}</p>
      <p>
        <a href="#">{{ translation.backtop }}</a>
      </p>
      {% if site.cnzz.id %}
      {% if site.cnzz.HttpsEncryption %}
      <script src="https://s19.cnzz.com/z_stat.php?id={{ site.cnzz.id }}&web_id={{ site.cnzz.id }}" language="JavaScript"></script>
	  {% endif %}
      <script type="text/javascript">
	      var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	      document.write(unescape("%3Cspan id='cnzz_stat_icon_{{ site.cnzz.id }}'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/stat.php%3Fid%3D{{ site.cnzz.id }}{% if site.cnzz.show %}%26show%3D{{ site.cnzz.show }}{% endif %}' type='text/javascript'%3E%3C/script%3E"));
      </script>
      {% endif %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/docs.min.js' | prepend: site.baseurl }}"></script>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ '/assets/js/ie10-viewport-bug-workaround.js' | prepend: site.baseurl }}"></script>
