{% assign translation = site.data[page.lang] %}
{% capture builder %}<a href="http://joytou.nets.hk/">Joytou</a>{% endcapture %}
{% capture style %}<a href="http://getbootstrap.com">Bootstrap</a>{% endcapture %}
<div class="blog-footer">
      <p>Copyright &copy; 2017 <a href="http://joytou.nets.hk/">Joytou</a></p>
      <p>{{ translation.footcopyright | replace: 'builder', builder | replace: 'style', style }}</p>
      <p>
        <a href="#">{{ translation.backtop }}</a><br/>
		<a href="http://check.links.cn/?weburl=joytou.nets.hk&bshow=1" target="_blank" title="友情链接检查">友情链接检查</a>
		<a href="http://i.links.cn/?weburl=joytou.nets.hk" target="_blank" title="查看收录情况">网站收录查询</a><br/>
		<a href="http://br.links.cn/" target=_blank><img border=0 src="http://br.links.cn/getbr.asp?url=joytou.nets.hk&style=2"></a>
		<a href="http://pr.links.cn/querypr.asp?url=joytou.nets.hk" target=_blank><img border=0 src="http://pr.links.cn/getpr.asp?queryurl=joytou.nets.hk&show=3"></a><br/>
		Alexa {{ translation.rank }}:<script language="javascript" src="http://alexa.links.cn/getAlexaRank.asp?queryurl=joytou.nets.hk"></script>
      </p>
	  {% if site.51la and site.51lamb %}
	  <p>
		{{ translation.totalvisit }}<script language="javascript" type="text/javascript" src="//quote.users.51.la/?id={{ site.51la }}&amp;mb={{ site.51lamb }}"></script>
	  </p>
	  {% endif %}
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/docs.min.js' | prepend: site.baseurl }}"></script>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ '/assets/js/ie10-viewport-bug-workaround.js' | prepend: site.baseurl }}"></script>
    {% if site.51la %}
	<!-- 51.la statistic -->
	<script language="javascript" type="text/javascript" src="//js.users.51.la/{{ site.51la }}.js"></script>
    <noscript><a href="//www.51.la/?{{ site.51la }}" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="//img.users.51.la/{{ site.51la }}.asp" style="border:none" /></a></noscript>
	{% endif %}
