{%- assign translation = site.data.language[page.lang] -%}
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-dns-prefetch-control" content="{{ site.dnsPrefetch }}">
    <meta http-equiv="Cache-control" content="public">
    <meta http-equiv="Expires" content="31536000">
    <meta name="revisit-after" content="7 days">
    {%- for dns in site.dns -%}
    <link rel="dns-prefetch" href="{{ dns }}">
    {%- endfor -%}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="title" content="{% if page.title %}{{ page.title }} - {{ translation.sitename }}{% else %}{{ translation.sitename }} - {{ translation.sitesubname }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{% if page.tags %}{% for tag in page.tags %}{{ tag }},{% endfor %}{% endif %}{% for word in site.keywords %}{{ word }}{% unless forloop.last %},{% endunless %}{% endfor %}">
    <meta name="author" content="{{ site.author }}">
	<meta name="owner" content="{{ site.owner_name }}">
    <meta name="copyright" content="(c) 2017 - 2018">
	{% for meta in site.data.metas %}<meta name="{{ meta.name }}" content="{{ meta.content }}">{% endfor %}
<!--Rich preview-->
<meta property="og:site_name" content="{{ translation.sitename }} - {{ translation.sitesubname }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ translation.home }}{% endif %} - {{ translation.sitename }}">
<meta property="og:description" content="{% if page.description %}{{ page.description | slice: 0, 49 }}{% else %}{{ site.description | slice: 0, 49 }}{% endif %}">
<meta property="og:image" content="{% if page.cover %}{{ page.cover }}{% else %}{{ site.url }}{{ site.baseurl }}/assets/ScreenshortDemo/pc_en.png{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
{%- if page.nav == "post" -%}
<meta property="og:type" content="article">
{%- endif -%}
<!-- End rich preview-->
    <link rel="apple-touch-icon" href="{{ '/assets/logo.png' | prepend: site.baseurl }}"/>
    <link rel="icon" href="{{ '/assets/favicon-32.ico' | prepend: site.baseurl }}"/> 
    <link rel="bookmark" href="{{ '/assets/favicon-128.ico' | prepend: site.baseurl }}" type="image/x-icon"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ '/feed.xml' | prepend: site.url }}"/>
    <link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ site.baseurl }}/" />
{%- for lang in site.data.lang -%}
				{%- capture domainlang -%}/{{ page.lang }}/{%- endcapture -%}
				{%- capture postlang -%}-{{ page.lang }}{%- endcapture -%}
				{%- capture replacedomainlang -%}/{{ lang[1].lang }}/{%- endcapture -%}
				{%- capture replacepostlang -%}-{{ lang[1].lang }}{%- endcapture -%}
				{%- for countries in lang[1].country -%}
	   <link rel="alternate" hreflang="{% if lang[1].simplecode == countries %}{{ countries }}{% else %}{{ lang[1].simplecode }}-{{ countries }}{% endif %}" href="{{ page.url | replace: domainlang,replacedomainlang | replace: postlang,replacepostlang | prepend: site.url }}" />
	   {%- endfor -%}
{%- endfor -%}
    <script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "JOYTOU Blog",
  "image" : "http://joytou.net/assets/logo_b6e8782d08efd809c0b5076a3d24a5eb.png",
  "url" : "https://joytou.net/",
  "author" : {
    "@type" : "Person",
    "name" : "Joytou"
  },
  "datePublished" : "2017-08-04T00:08:02",
  "publisher" : {
    "@type" : "Organization",
    "name" : "Joytou"
  },
  "applicationCategory" : "Blog",
  "downloadUrl" : "https://joytou.net/en/downloads/",
  "operatingSystem" : "Windows",
  "requirements" : "Ruby",
  "screenshot" : "https://joytou.net/assets/ScreenshortDemo/mo_en.png",
  "softwareVersion" : "2.1.8",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingValue" : "80",
    "bestRating" : "100",
    "worstRating" : "0",
    "ratingCount" : "82"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Joytou"
    },
    "datePublished" : "2017-08-04T02:08:02",
    "reviewRating" : {
      "@type" : "Rating",
      "ratingValue" : "100",
      "bestRating" : "100",
      "worstRating" : "0"
    },
    "reviewBody" : "The Best!"
  }
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://joytou.net",
  "logo": "https://joytou.net/assets/logo_112px.png"
}
</script>
<!--Google AdSense -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9839713788381080",
    enable_page_level_ads: true
  });
</script>
  <!-- import css file -->
  <link href="{{ '/assets/css/import.css' | prepend: site.baseurl }}?v={{ site.time | date:"%Y%m%d" }}" rel="stylesheet"/>
    <title>{% if page.title%}{{ page.title }} - {{ translation.sitename }}{% else %}{{ translation.sitename }} - {{ translation.sitesubname }}{% endif %}</title>
  </head>
