{%- assign translation = site.data.language[page.lang] -%}
{%- assign config = site.data.configuration -%}
<nav class="navbar navbar-{{ config.Navbar.Background | default: "inverse" }} navbar-{{ config.Navbar.Fixed | default: "fixed-top" }}" role="navigation">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target="#example-navbar-collapse">
            <span class="sr-only">{{ translation.switchnav }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="{{ site.baseurl }}/{{ page.lang }}/"><span><img src="{{ '/assets/logo_b6e8782d08efd809c0b5076a3d24a5eb.png' | prepend: site.baseurl }}" width="32px" alt="JOYTOU" style="margin-top: -6px"/><strong> {{ translation.sitename }}</strong></span></a>
		</div>
		<div class="collapse navbar-collapse" id="example-navbar-collapse">
		  <ul class="nav navbar-nav navbar-right">
            <li class="{%- if page.nav == "index" -%} active{%- endif -%}"><a href="{{ site.baseurl }}/{{ page.lang }}/"><span class="glyphicon glyphicon-home"></span>{{ translation.home }}</a></li>
            <li class="dropdown{% if page.nav == "post" %} active{% endif %}">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				  <span class="glyphicon glyphicon-sort-by-order-alt"></span>{{ translation.archivearticle }} <b class="caret"></b>
                          </a>
		          <ul class="dropdown-menu">
                                  {%- for post in site.posts  -%}
                  {%- capture this_year -%}{{ post.date | date: "%Y" }}{%- endcapture -%}{%- capture this_month -%}{{ post.date | date: "%m" }}{%- endcapture -%}{%- capture next_year -%}{{ post.previous.date | date: "%Y" }}{%- endcapture -%}{%- capture next_month -%}{{ post.previous.date | date: "%m" }}{%- endcapture -%}
                  {%- if forloop.first -%}
					<li><a href="{{ site.baseurl }}/{{ page.lang }}/archives/#{{ post.date | date: "%B%Y"}}">{{this_year}}-{{this_month}}</a></li>
                  {%- endif -%}
                  {%- unless forloop.last -%}
                    {%- if this_year != next_year -%}
					<li><a href="{{ site.baseurl }}/{{ page.lang }}/archives/#{{ post.previous.date | date: "%B%Y"}}">{{next_year}}-{{next_month}}</a></li>
                    {%- else -%}    
                      {%- if this_month != next_month -%}
					<li><a href="{{ site.baseurl }}/{{ page.lang }}/archives/#{{ post.previous.date | date: "%B%Y"}}">{{next_year}}-{{next_month}}</a></li>
                      {%- endif -%}
                    {%- endif -%}
                  {%- endunless -%}
                {%- endfor -%}
                          </ul>
            </li>
			<li class="dropdown{% if page.nav == "category" %} active{% endif %}">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				  <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>{{ translation.categoryarticle }} <b class="caret"></b>
                          </a>
		          <ul class="dropdown-menu">
                {%- for category in site.categories  -%}
					<li><a href="{{ site.baseurl }}/{{ page.lang }}/categories/#{{ category | first }}">{{ category | first }}</a></li>
                {%- endfor -%}
                          </ul>
            </li>
			<li class="dropdown{% if page.nav == "tag" %} active{%- endif -%}">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				  <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>{{ translation.tagarticle }} <b class="caret"></b>
                          </a>
		          <ul class="dropdown-menu">
                {%- for tag in site.tags  -%}
					<li><a href="{{ site.baseurl }}/{{ page.lang }}/tags/#{{ tag | first }}">{{ tag | first }}</a></li>
                {%- endfor -%}
                          </ul>
            </li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<span class="glyphicon glyphicon-font"></span>{{ translation.selectlang }} <b class="caret"></b>
			  </a>
			  <ul class="dropdown-menu">
				{%- for weblangs in site.data.lang -%}
				{%- assign weblang = weblangs[1] -%}
				{%- capture domainlang -%}/{{ page.lang }}/{%- endcapture -%}
				{%- capture postlang -%}-{{ page.lang }}{%- endcapture -%}
				{%- capture replacedomainlang -%}/{{ weblang.lang }}/{%- endcapture -%}
				{%- capture replacepostlang -%}-{{ weblang.lang }}{%- endcapture -%}
				<li class="{%- if page.lang == weblang.lang -%}active{%- endif -%}"><a href="{{ site.baseurl }}{{ page.url | replace: domainlang,replacedomainlang | replace: postlang,replacepostlang }}">{{ weblang.language }}</a></li>
				{%- endfor -%}
			  </ul>
			</li>
   <li class="{%- if page.nav == "about" -%} active{%- endif -%}"><a href="{{ site.baseurl }}/{{ page.lang }}/about/"><span class="glyphicon glyphicon-user"></span>{{ translation.about }}</a></li>
  <li class="{%- if page.nav == "contact" -%} active{%- endif -%}"><a href="{{ site.baseurl }}/{{ page.lang }}/contact/"><span class="glyphicon glyphicon-comment"></span>{{ translation.contact }}</a></li>
            <li class="{%- if page.nav == "feed" -%}active{%- endif -%}"><a href="{{ site.baseurl }}/feed.xml"><span class="icon-rss"></span>{{ translation.rssfeed }}</a></li>
{%- if site.showdownload -%}            <li class="{%- if page.nav == "downloads" -%}active{%- endif -%}"><a href="{{ site.baseurl }}/{{ page.lang }}/downloads/"><span class="glyphicon glyphicon-download-alt"></span>{{ translation.download }}</a></li>{%- endif -%}
		  </ul>
		</div>
	  </div>
	</nav>
