{% if paginator.total_pages > 1 %}
<ul class="pagination">
    <li{% if paginator.previous_page %}{% else %} class="disabled"{% endif %}><a href="/">首页</a></li>
    <li{% if paginator.previous_page %}{% else %} class="disabled"{% endif %}><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="active">
    {% else %}
      <li>
    {% endif %}
    {% if page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
      </li>
  {% endfor %}
    <li{% if paginator.next_page %}{% else %} class="disabled"{% endif %}><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
    <li{% if paginator.next_page %}{% else %} class="disabled"{% endif %}><a href="/page{{ paginator.total_pages | prepend: site.baseurl | replace: '//', '/' }}/">末页</a></li>
    <li class="disabled">
            <span>第{{paginator.page}}页 / 共{{paginator.total_pages}}页</span>
        </li>
</ul>
{% endif %}
