{% assign translation = site.data[page.lang] %}
{% if paginator.total_pages > 1 %}
<ul class="pagination">
  <li{% if paginator.previous_page %}{% else %} class="disabled"{% endif %}><a href="/{{ page.lang }}/">{{ translation.firstpage }}</a></li>
  <li{% if paginator.previous_page %}{% else %} class="disabled"{% endif %}><a href="/{{ page.lang }}/{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="active">
    {% else %}
      <li>
    {% endif %}
    {% if page == 1 %}
		<a href="/{{ page.lang }}/{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
		<a href="/{{ page.lang }}/{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
      </li>
  {% endfor %}
	  <li{% if paginator.next_page %}{% else %} class="disabled"{% endif %}><a href="/{{ page.lang }}/{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
	  <li{% if paginator.next_page %}{% else %} class="disabled"{% endif %}><a href="/{{ page.lang }}/page{{ paginator.total_pages | prepend: site.baseurl | replace: '//', '/' }}/">{{ translation.lastpage }}</a></li>
    <li class="disabled">
            <span>{{ translation.pagenum | replace:'num', paginator.page}} / {{ translation.pagetotal | replace:'num', paginator.total_pages}}</span>
        </li>
</ul>
{% endif %}
