{% assign translation = site.data[page.lang] %}
<!--<hr>
<div class="pagination">
  <ul class="pager">
  {% if page.previous %}
    <li class="prev"><a href="{{ page.previous.url }}">&larr; {{ translation.previouspost }}</a></li>
  {% else %}
    <li class="prev disabled">&larr; {{ translation.previouspost }}</li>
  {% endif %}
  {% if page.next %}
    <li class="next"><a href="{{ page.next.url }}">{{ translation.nextpost }} &rarr;</a></li>
  {% else %}
    <li class="next disabled">{{ translation.nextpost }} &rarr;</li>
  {% endif %}
  </ul>
</div>
<hr>-->
{%- assign findex = 1 -%}
{%- for firstpost in site.posts | sort -%}
  {%- if firstpost.lang contains page.lang -%}
    {%- if page.url contains firstpost.url -%}
      {%- break -%}
    {%- else -%}
      {%- assign findex = findex | plus: 1 -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
{%- assign secondindex = 1 -%}
{%- assign previousindex = findex | minus: 1 -%}
{%- assign nextindex = findex | plus: 1 -%}
{%- for secondpost in site.posts | sort -%}
  {%- if secondpost.lang contains page.lang -%}
    {%- if previousindex == secondindex -%}
      {%- capture previouspost -%}{{ secondpost.url }}{%- endcapture -%}
    {%- elsif findex == secondindex -%}
      {%- capture currentpost -%}{{ secondpost.url }}{%- endcapture -%}
    {%- elsif nextindex == secondindex -%}
      {%- capture nextpost -%}{{ secondpost.url }}{%- endcapture -%}
    {%- else -%}
    {%- endif -%}
    {%- assign secondindex = secondindex | plus: 1 -%}
  {%- endif -%}
{%- endfor -%}
<hr>
<div class="pagination">
  <ul class="pager">
  {% if previouspost %}
    <li class="prev"><a href="{{ previouspost }}">&larr; {{ translation.previouspost }}</a></li>
  {% else %}
    <li class="prev disabled">&larr; {{ translation.previouspost }}</li>
  {% endif %}
  {% if nextpost %}
    <li class="next"><a href="{{ nextpost }}">{{ translation.nextpost }} &rarr;</a></li>
  {% else %}
    <li class="next disabled">{{ translation.nextpost }} &rarr;</li>
  {% endif %}
  </ul>
</div>
<hr>
