{% assign translation = site.data[page.lang] %}
<!--<hr>
<div class="pagination">
  <ul>
  {% if page.previous %}
    <li class="prev"><a href="{{ page.previous.url }}">&larr; {{ translation.previouspost }}</a></li>
  {% else %}
    <li class="prev disabled">&larr; {{ translation.previouspost }}</li>
  {% endif %}
  {% if page.next %}
    <li class="next"><a href="{{ page.next.url }}">{{ translation.nextpost }} &rarr;</a></li>
  {% else %}
    <li class="next disabled">{{ translation.nextpost }} &rarr;</li>
  {% endif %}
  </ul>
</div>
<hr>-->
{%- assign findex = 1 -%}
{%- for firstpost in site.posts | sort -%}
  {%- if firstpost.lang contains page.lang -%}
    {%- if page.next.url contains post.url -%}
      current:{{ findex }}<br/>
      {%- break -%}
    {%- else -%}
      {%- assign findex = findex | plus: 1 -%}
      not:{{ findex }}<br/>
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

{%- assign secondindex = 1 -%}
{%- assign previousindex = findex | minus: 1 -%}
{%- assign nextindex = findex | plus: 1 -%}
{%- for secondpost in site.posts | sort -%}
  {%- if secondpost.lang contains page.lang -%}
    {%- if previousindex == secondindex -%}
      previous:{{ secondpost.url }}<br/>
    {%- elsif findex == secondindex -%}
      current:{{ secondpost.url }}<br/>
    {%- elsif nextindex == secondindex -%}
      next:{{ secondpost.url }}<br/>
    {%- else -%}
      error:{{ secondpost.url }}<br/>
    {%- endif -%}
    {%- assign secondindex = secondindex | plus: 1 -%}
  {%- endif -%}
{%- endfor -%}