{% assign translation = site.data[page.lang] %}
<!--<hr>
<div class="pagination">
  <ul>
  {% if page.previous %}
    <li class="prev"><a href="{{ page.previous.url }}">&larr; {{ translation.previouspost }}</a></li>
  {% else %}
    <li class="prev disabled">&larr; {{ translation.previouspost }}</li>
  {% endif %}
  {% if page.next %}
    <li class="next"><a href="{{ page.next.url }}">{{ translation.nextpost }} &rarr;</a></li>
  {% else %}
    <li class="next disabled">{{ translation.nextpost }} &rarr;</li>
  {% endif %}
  </ul>
</div>
<hr>-->
{%- assign findex = 1 -%}
{%- for post in site.posts | sort -%}
  {%- if post.lang contains page.lang -%}
    {%- if post.id contains page.id -%}
      {%- assign index = findex -%}
    {%- else -%}
      {%- assign findex = findex | plus: 1 -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
{%- assign mindex = index | minus: 1 -%}
{%- assign rindex = 1 -%}
{%- assign pindex = index | plus: 1 -%}
{%- for rpost in site.posts | sort -%}
  {%- if rpost.lang contains page.lang -%}
    {%- assign rindex = rindex | plus: 1 -%}
    {%- if mindex == rindex -%}
      {%- assign postprevious = rpost -%}
    {%- endif -%}
    {%- if index == rindex -%}
      {%- assign postcurrent = rpost -%}
    {%- endif -%}
    {%- if pindex == rindex -%}
      {%- assign postnext = rpost -%}
    {%- endif -%}
  {%- endif-%}
{%- endfor -%}
<hr>
<div class="pagination">
  <ul class="pager">
  {% if postprevious %}
    <li class="prev"><a href="{{ postprevious.url }}">&larr; {{ translation.previouspost }}</a></li>
  {% else %}
    <li class="prev disabled">&larr; {{ translation.previouspost }}</li>
  {% endif %}
  {% if postnext %}
    <li class="next"><a href="{{ postnext.url }}">{{ translation.nextpost }} &rarr;</a></li>
  {% else %}
    <li class="next disabled">{{ translation.nextpost }} &rarr;</li>
  {% endif %}
  </ul>
</div>
<hr>