{% assign translation = site.data.language[page.lang] %}
<div class="cb-search-tool" style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px;
  opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
  <input type="text" class="form-control cb-search-content" id="cb-search-content" style="position: fixed; top: 60px" placeholder="{{ translation.searchtip }}" >

  <div style="position: fixed; top: 16px; right: 16px; font-size: 35px;">
	<span class="glyphicon glyphicon-remove-circle" id="cb-close-btn"></span>
  </div>
</div>

<div style="position: fixed; right: 16px; bottom: 75px; font-size: 35px;">
  <span class="glyphicon glyphicon-chevron-up" id="gotop"></span>
</div>
<div style="position: fixed; right: 16px; bottom: 20px; font-size: 35px;">
  <span class="glyphicon glyphicon-search" id="cb-search-btn"></span>
</div>
