{%- assign translation = site.data[page.lang] -%}
<!DOCTYPE html>
<html{% if page.lang %}{% assign pgs = site.data.lang[page.lang] %} lang="{{ pgs.code }}"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ '/assets/favicon-32.ico' | prepend: site.baseurl }}">
	<link href="{{ '/assets/css/bootstrap.min.css' | prepend: site.baseurl }}" rel="stylesheet">
	<link href="{{ '/assets/css/dashboard.css' | prepend: site.baseurl }}" rel="stylesheet">
	<link href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}" rel="stylesheet">
    <title>{{translation.dashboard }} - {{ translation.sitename }}</title>
	<script src="{{ '/assets/js/jquery-3.2.1.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
	<script src="{{ '/assets/js/bootstrap3-typeahead.min.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
          //var jsonArray = [{"编号":"1001","名称":"k-means","描述":"K-means算法是硬聚类算法，是典型的基于原型的目标函数聚类方法的代表","操作":"<button>编辑</button>"},{"编号":"1002","名称":"restful","描述":"一种软件架构风格、设计风格，而不是标准，只是提供了一组设计原则和约束条件","操作":"<button>删除</button>"}]; 
          var headArray = []; 
          function parseHead(oneRow) { 
                        for ( var i in oneRow) { 
                                headArray[headArray.length] = i; 
                         } 
            } 
            function appendTable(headtitle,oneRow) { 
			              var tit = document.getElementById("myModalLabel");
		                  $('#myModal').modal('show');
						  tit.innerText = headtitle;
                          parseHead(jsonArray[0]); 
                          var div = document.getElementById("div1");  
                          var table = document.createElement("table"); 
                          var thead = document.createElement("tr"); 
                          for ( var count = 0; count < headArray.length; count++) { 
                                    var td = document.createElement("th"); 
                                    td.innerHTML = headArray[count]; 
                                    thead.appendChild(td); 
                           } 
                           table.appendChild(thead); 
                          for ( var tableRowNo = 0; tableRowNo < jsonArray.length; tableRowNo++) { 
                                    var tr = document.createElement("tr"); 
                                    for ( var headCount = 0; headCount < headArray.length; headCount++) { 
                                            var cell = document.createElement("td"); 
                                            cell.innerHTML = jsonArray[tableRowNo][headArray[headCount]]; 
                                            tr.appendChild(cell); 
                                    } 
                                    table.appendChild(tr); 
                         } 
                          div.appendChild(table); 
        }                        
           
</script> 
  </head>

  <body>

    {%- include masthead.html -%}
	
    <div class="container-fluid">
      <div class="row">
		{{ content }}
	  </div>
    </div>

  </body>
</html>

